.certificate-carousel {
    padding: 20px;
    background-color: #f9f9f9; /* Light background for contrast */
    border-radius: 8px;
}

.certificate-card {
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Height for large screens */
.certificate-image {
    width: 100%;
    height: 500px; /* Height for large screens */
    object-cover:contain; /* Ensure images cover the area without distortion */
}

.certificate-title {
    padding: 10px;
    font-size: 1.2rem;
    color: #333;
}

/* Responsive heights */
@media (max-width: 1024px) {
    .certificate-image {
        height: 300px; /* Height for medium screens */
    }
}

@media (max-width: 640px) {
    .certificate-image {
        height: 150px; /* Height for smaller screens */
    }
}

/* Swiper Navigation and Pagination Styles */
.swiper-button-next, .swiper-button-prev {
    color: #007bff; /* Customize arrow color */
}

.swiper-pagination-bullet {
    background: #007bff; /* Customize pagination bullet color */
}
